{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>

    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 100%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            color: black;
            text-align: center;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }




    </style>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price when bought</th>
                <th>Price now</th>
                <th>TOTAL</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {% for x in data %}
            <tr>
                <td> {{ x.symbol }} </td>
                <td> {{ x.name }} </td>
                <td> {{ x.shares }} </td>
                <td> {{ x.price_then }} $</td>
                <td> {{ x.price_now }} $</td>
                <td> {{ x.price_now }} $</td>
                {% if x.p < 0 %}
                    <td style="color: red;"> {{ x.p }} %</td>
                {% else %}
                    <td style="color: green;"> {{ x.p }} %</td>
                {% endif %}
            </tr>
           {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td></td>
                <td>Remaining: {{ data[0].total }} $</td>
                <td></td>
                <td> {{ invested }} $</td>
                <td></td>
                <td>Stock: {{ total }} $</td>

                {% if profit < 0 %}
                    <td style="color: red;"> {{ profit }} $</td>
                {% else %}
                    <td style="color: green;"> {{ profit }} $</td>
                {% endif %}
            </tr>
        </tbody>
        
    </table>

{% endblock %}