{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}


{% block main %}

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <form action="/predict?data={{ name }}" method="post">
        <fieldset>
            <div class="form-group">
                <!--<input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text"/>-->
                <select class="form-control" name="Timeline">
                        <option name="date" value='24'>24h</option>
                        <option name="date" value='5'>5 days</option>
                        <option name="date" value='30'>1 month</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Update</button>
            </div>
        </fieldset>
    </form>

    <canvas id="line-chart" width="50" height="25"></canvas>

    <script>
        
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: 
                    {{ dates|safe }},
                
                datasets: [{ 
                    data: 
                        {{ values|safe }},

                    label: "Stock price",
                    borderColor: "#3e95cd",
                    fill: false
                }]
            },
            options: {
                title: {
                display: true,
                }
            }
        }); 


    </script>
{% endblock %}
